// Typography

$font-size-lg: 24px;
$font-size-md: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;

$heading-font-size-xxl: 48px;
$heading-font-size-xl: 40px;
$heading-font-size-lg: 32px;
$heading-font-size-md: 24px;
$heading-font-size-sm: 20px;
$heading-font-size-xs: 18px;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

$line-height-lg: 1.75;
$line-height-md: 1.33;
$line-height-sm: 1.25;

$border-radius-lg: 20px;
$border-radius-md: 12px;
$border-radius-sm: 8px;

// Media

$tablet: 768px;
$desktop: 1152px;
