<mat-card class="card__container" *ngIf="title && total">
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>{{ total }}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
<mat-card class="card__container" *ngIf="items">
  <mat-card-header *ngIf="subTitle">
    <mat-card-title>{{ subTitle }}</mat-card-title>
  </mat-card-header>
  <mat-divider *ngIf="subTitle"></mat-divider>
  <mat-card-content>
    <cdk-virtual-scroll-viewport itemSize="20" class="card__item-container">
      <mat-list role="list">
        <div *cdkVirtualFor="let item of items">
          <mat-list-item role="listitem">
            <span>{{ item.name }} </span>
            <span class="card__item-count">{{ item.count | number }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
        </div>
      </mat-list>
    </cdk-virtual-scroll-viewport>
  </mat-card-content>
</mat-card>
