.card {
  &__container {
    margin: 4px;
    /*max-width: 420px;*/
  }
  &__item {
    &-container {
      height: 440px;
    }
    &-count {
      padding: 4px;
      font-weight: bold;
    }
  }
}



.red {
  color: #FF1744 !important;
  font-weight: bold;
}

.green {
  color: #43A047 !important;
  font-weight: bold;
}
