<mat-card class="card__container">
  <mat-card-header class="card__header">
    <mat-card-title *ngIf="title && total">{{ title }}</mat-card-title>
    <mat-card-title
      *ngIf="total"
      [ngClass]="{'green': color === 'green', 'red': color === 'red', 'yellow': color === 'yellow'}"
      class="card__title-total">
      {{ total | number: '1.0-0' }}
    </mat-card-title>
  </mat-card-header>
  <ng-container *ngIf="!total && loading">
    <div class="skeleton__container">
      <ngx-skeleton-loader
        [theme]="priceTheme"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
        count="2"
        [theme]="titileTheme"
      ></ngx-skeleton-loader>
    </div>
  </ng-container>
</mat-card>
