.card {
  &__container {
    margin: 8px 0;
  }

  &__title-total {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }

  &__header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
