<mat-card class="card-list__container">
  <mat-card-header>
    <mat-card-title *ngIf="title">{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-divider *ngIf="title"></mat-divider>
  <mat-card-content>
    <mat-form-field style="width: 100%">
      <input type="text" matInput [matTooltip]="searchValue.length < 3 ?  'ingresa mínimo tres letras para ver resultados' : ''" [placeholder]="placeholder" [(ngModel)]="searchValue">
    </mat-form-field>
    <cdk-virtual-scroll-viewport itemSize="20" [ngClass]="{'card-list__item-container': items }">
      <ng-container *cdkVirtualFor="let item of items | searchText: {key: 'name', value: searchValue}; isLast as last">
        <div class="card-list__item">
          <span>
            <span>
              {{ item.name }}
            </span>
            <span class="card-list__item-count" [ngClass]="color">{{ item.total | number }}</span>
          </span>
          <ng-container *ngIf="type">
            <span class="card-list__item-view-detail" (click)="onViewReport(item.name)"><mat-icon>remove_red_eye</mat-icon></span>
          </ng-container>
        </div>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </mat-card-content>
  <ng-container *ngIf="loading">
    <ng-container *ngFor="let item of random;">
      <ngx-skeleton-loader [theme]="{ width: item, display: 'flex' }"></ngx-skeleton-loader>
    </ng-container>
  </ng-container>
</mat-card>

