<app-card
  color="yellow"
  title="Casos Confirmados"
  [loading]="loading$ | async"
  [total]="((cases$ | async) || {}).total"
>
</app-card>
<mat-tab-group [headerPosition]="tabHeaderPosition"  mat-align-tabs="center">
  <mat-tab label="Ciudad">
    <app-card-list
      color="yellow"
      [loading]="loading$ | async"
      [items]="((cases$ | async) || {}).casesByCity"
      placeholder="Escriba la ciudad a buscar"
      type="city"
    >
    </app-card-list>
  </mat-tab>
  <mat-tab label="Departamento">
    <app-card-list
      color="yellow"
      [loading]="loading$ | async"
      [items]="((cases$ | async) || {}).casesByState"
      placeholder="Escriba el departamento a buscar"
      type="state"
    >
    </app-card-list>
  </mat-tab>
</mat-tab-group>
