.cases {
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__card {
    margin: 0 12px;
  }

  &__skeleton {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
