<div class="row">
  <div class="col-md-4 col-lg-4 col-xl-4">
    <app-card
      color="red"
      title="Casos Confirmados"
      [loading]="loading"
      [total]="totalCases"
    >
    </app-card>
    <mat-tab-group [headerPosition]="tabHeaderPosition" mat-align-tabs="center">
      <mat-tab label="Ciudad">
        <app-card-list
          color="red"
          [loading]="loading"
          [items]="casesConfirmed.cities"
        >
        </app-card-list>
      </mat-tab>
      <mat-tab label="Departamento">
        <app-card-list
          color="red"
          [loading]="loading"
          [items]="casesConfirmed.states"
        >
        </app-card-list>
      </mat-tab>
    </mat-tab-group>
    <mat-divider *ngIf="isMobile"></mat-divider>
  </div>
  <div class="col-md-4 col-lg-4 cols-xl-4">
    <app-card
      color="red"
      title="Fallecidos"
      [loading]="loading"
      [total]="totalDeaths"
    >
    </app-card>
    <mat-tab-group [headerPosition]="tabHeaderPosition" mat-align-tabs="center">
      <mat-tab label="Ciudad">
        <app-card-list
          color="red"
          [loading]="loading"
          [items]="casesDeaths.cities"
        >
        </app-card-list>
      </mat-tab>
      <mat-tab label="Departamento">
        <app-card-list
          color="red"
          [loading]="loading"
          [items]="casesDeaths.states"
        >
        </app-card-list>
      </mat-tab>
    </mat-tab-group>
    <mat-divider *ngIf="isMobile"></mat-divider>
  </div>
  <div class="col-md-4 col-lg-4 col-xl-4">
    <app-card
      color="green"
      title="Recuperados"
      [loading]="loading"
      [total]="totalRecovered"
    >
    </app-card>

    <mat-tab-group [headerPosition]="tabHeaderPosition" mat-align-tabs="center">
      <mat-tab label="Ciudad">
        <app-card-list
          color="green"
          [loading]="loading"
          [items]="casesRecovered.cities"
        >
        </app-card-list>
      </mat-tab>
      <mat-tab label="Departamento">
        <app-card-list
          color="green"
          [loading]="loading"
          [items]="casesRecovered.states"
        >
        </app-card-list>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
