<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Covid-19 Dashboard</span>
    </mat-toolbar>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-lg-4 col-xl-4">
          <app-cases-confirmed [tabHeaderPosition]="tabService.tabHeaderPosition"></app-cases-confirmed>
          <mat-divider *ngIf="tabService.IsMobile"></mat-divider>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4">
          <app-cases-recovered [tabHeaderPosition]="tabService.tabHeaderPosition"></app-cases-recovered>
          <mat-divider *ngIf="tabService.IsMobile"></mat-divider>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4">
          <app-cases-death [tabHeaderPosition]="tabService.tabHeaderPosition"></app-cases-death>
          <mat-divider *ngIf="tabService.IsMobile"></mat-divider>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="footer">
  <div class="footer__copyright">
    <p>Copyrights © 2020 All Rights.</p>
    <p>Desarrollado por: <b>Alver Grisales</b></p>
  </div>
  <div class="footer__social-network">
    <p><b>¡Sígueme!</b></p>
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/alvergrisales" target="_blank">
          <mat-icon svgIcon="linkedin" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        </a>
      </li>
      <li>
        <a href="https://github.com/Alver23" target="_blank">
          <mat-icon svgIcon="github" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/23Alver" target="_blank">
          <mat-icon svgIcon="twitter" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/alexander.ortega.3785" target="_blank">
          <mat-icon svgIcon="facebook" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        </a>
      </li>
    </ul>
  </div>
</div>

